body{
    text-align: center;
}


.btn{
    border: 10px solid black;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;

}

.btn_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1{
    background-color: rgb(37, 142, 241);
}
.box2{
    background-color: rgb(45, 206, 13);
}
.box3{
    background-color: rgb(242, 223, 9);
}
.box4{
    background-color: rgb(254, 131, 8);
}


.flash{
    background-color: white;
}



